.idea/
.venv/
.delivery/
.output/
.tmp/
.pytest_cache/

#Other (IDE etc)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.so
.Python
lib/
lib64/
parts/
sdist/
var/
wheels/
venv/
ENV/
env/
*.log
.env
__pycache__
*.ipynb
*.pyc
*.pyo
*.pyd
.DS_Store
.env

#Preprocessed data
.research/data/crop_progress/celebdfpp/*
!.research/data/crop_progress/celebdfpp/.gitkeep
.research/data/crop_progress/ffpp/*
!.research/data/crop_progress/ffpp/.gitkeep
.research/archive/*
!.research/archive/.gitkeep




